@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS Resets */
  margin: 0;
  padding: 0;

  /* Defining common vars */
  --bodyBackground: #628df229;

  /* colors */
  --clr-dark: #272727;
  --clr-light: #707070;
  --clr-white: #ffffff;

  --clr-pri-blue: #628df2;
  --clr-sec-blue: #628df229;

  --clr-pri-orange: #ff9757;
  --clr-pri-orange: #ffa64d29;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* Defining font sizes */
h1 {
  font-size: 1.6875rem; /* 27px*/
}

h2 {
  font-size: 1.5rem; /* 24px */
}

h3 {
  font-size: 1.375rem; /* 22px */
}

h4 {
  font-size: 1.1875rem; /* 19px */
}

h5 {
  font-size: 1rem; /* 16px */
}

label {
  font-size: 1.1875rem;
  color: var(--clr-light);
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* colors */
.text-pri {
  color: var(--clr-dark);
}
.text-sec {
  color: var(--clr-light);
}
.text-white {
  color: var(--clr-white);
}

.bg-pri {
  background-color: var(--clr-pri-blue);
}
.bg-sec {
  background-color: var(--clr-sec-blue);
}

/* Defining common classes */
.box-shadow-btm {
  box-shadow: 0 0.125rem 0.125rem -0.125rem var(--clr-light);
}

.m-l-auto {
  margin-left: auto;
}

.m-t-auto {
  margin-top: auto;
}

/* Inputs */
input {
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--clr-light);
  padding: 0.5rem;
}

/* Dropdowns */
select {
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--clr-light);
  width: fit-content;
  padding: 0.5rem;
}

body {
  color: black;
  background: var(--bodyBackground);
  overflow: scroll;
}
