@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS Resets */
  margin: 0;
  padding: 0;

  /* Defining common Vars */
  --bodyBackground: #628df229;

  .box-shadow-btm {
    box-shadow: 0 0.125rem 0.125rem -0.125rem gray;
  }

  .m-l-auto {
    margin-left: auto;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: black;
  background: var(--bodyBackground);
}
